
html {
  height: 100%;
}

body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  color: #333;
  font-size: 14px;
}

div {
  position: relative;
  box-sizing: border-box;
}

input, textarea {
  font-size: 14px;
}

input:focus {
  outline: none;
}

#app {
  height: 100%;
  overflow: auto;
}
