<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.scy.priv.mapper.RoleMapper">

    <!-- getById -->
    <select id="getById" resultType="RoleModel">
        select * from `role` where id = #{id} and state > 0 limit 1
    </select>

    <!-- getByName -->
    <select id="getByName" resultType="RoleModel">
        select * from `role` where name = #{name} and paasId = #{paasId} and state > 0 limit 1
    </select>

    <!-- getByIds -->
    <select id="getByIds" resultType="RoleModel">
        select * from `role` where id in
        <foreach collection="ids" item="roleId" open="(" separator="," close=")">
            #{roleId}
        </foreach>
        and paasId = #{paasId} and state > 0
    </select>

    <!-- add -->
    <insert id="add" parameterType="RoleModel" useGeneratedKeys="true" keyProperty="id">
        insert into `role` (name, remark, type, state, creatorId, createTime, paasId)
        values (#{name}, #{remark}, #{type}, #{state}, #{creatorId}, #{createTime}, #{paasId})
    </insert>

    <!-- update -->
    <update id="update" parameterType="RoleModel">
        update `role`
        set name = #{name}, remark = #{remark}, type = #{type}, state = #{state},
            updatorId = #{updatorId}, updateTime = #{updateTime}
        where id = #{id}
    </update>

    <!-- delete -->
    <update id="delete" parameterType="RoleModel">
        update `role` set state = 0 where id = #{id}
    </update>

    <!-- find -->
    <select id="find" parameterType="org.scy.common.ds.query.Selector" resultType="RoleModel">
        select r.* from `role` as r ${where} ${groupBy} ${orderBy} ${limit}
    </select>

    <!-- countFind -->
    <select id="countFind" parameterType="org.scy.common.ds.query.Selector" resultType="Integer">
        select count(r.id) from `role` as r ${where} ${groupBy} ${orderBy}
    </select>

    <!-- findWithUser -->
    <select id="findWithUser" parameterType="org.scy.common.ds.query.Selector" resultType="RoleModel">
        select r.* from `role` as r, `role_users` as ru,
        where r.id = ru.roleId ${whereMore}
        group by r.id ${groupMore} ${orderBy} ${limit}
    </select>

    <!-- countFindWithUser -->
    <select id="countFindWithUser" parameterType="org.scy.common.ds.query.Selector" resultType="Integer">
        select count(id) from (
            select r.id from `role` as r, `role_users` as ru,
            where r.id = ru.roleId ${whereMore}
            group by r.id ${groupMore} ${orderBy}
        )
    </select>

    <!-- getRoleUser -->
    <select id="getRoleUser" resultType="RoleModel">
        select * from `role_users` where roleId = #{roleId} and userId = #{userId} limit 1
    </select>

    <!-- getRoleUsers -->
    <select id="getRoleUsers" resultType="RoleModel">
        select * from `role_users` where roleId = #{roleId} and userId in
        <foreach collection="userIds" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </select>

    <!-- getAllRoleUsers -->
    <select id="getAllRoleUsers" resultType="RoleModel">
        select * from `role_users` where roleId = #{roleId}
    </select>

    <!-- getUserRoles -->
    <select id="getUserRoles" resultType="RoleModel">
        select * from `role_users` where userId = #{userId} and roleId in
        <foreach collection="roleIds" item="roleId" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </select>

    <!-- getAllUserRoles -->
    <select id="getAllUserRoles" resultType="RoleModel">
        select * from `role_users` where userid = #{userId}
    </select>

    <!-- addRoleUser -->
    <insert id="addRoleUser" parameterType="RoleUserModel" useGeneratedKeys="true" keyProperty="id">
        insert into `role_users` (roleId, userId, state, creatorId, createTime, paasId)
        values (#{roleId}, #{userId}, #{state}, #{creatorId}, #{createTime}, #{paasId})
    </insert>

    <!-- countRoleUser -->
    <select id="countRoleUser" resultType="Integer">
        select count(id) from `role_users` where roleId = #{roleId}
    </select>

    <!-- deleteRoleUserById -->
    <delete id="deleteRoleUserById">
        delete from `role_users` where id = #{id}
    </delete>

    <!-- deleteRoleUserByRoleId -->
    <delete id="deleteRoleUserByRoleId">
        delete from `role_users` where roleId = #{roleId}
    </delete>

    <!-- deleteRoleUserByUserId -->
    <delete id="deleteRoleUserByUserId">
        delete from `role_users` where userId = #{userId}
    </delete>

    <!-- deleteRoleUserByRUId -->
    <delete id="deleteRoleUserByRUId">
        delete from `role_users` where roleId = #{roleId} and userId = #{userId}
    </delete>

    <!-- deleteRoleUserByRUIds -->
    <delete id="deleteRoleUserByRUIds">
        delete from `role_users` where roleId = #{roleId} and userId in
        <foreach collection="userIds" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>

    <!-- deleteRoleUserByURIds -->
    <delete id="deleteRoleUserByURIds">
        delete from `role_users` where userid = #{userId} and roleId in
        <foreach collection="roleIds" item="roleId" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </delete>

</mapper>