<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.scy.priv.mapper.TokenMapper">

    <!-- getById -->
    <select id="getById" resultType="TokenModel">
        select * from `token` where id = #{id}
    </select>

    <!-- getByToken -->
    <select id="getByToken" resultType="TokenModel">
        select * from `token` where token = #{token} limit 1
    </select>

    <!-- getByUserId -->
    <select id="getByUserId" resultType="TokenModel">
        select * from `token` where userId = #{userId} and paasId = #{paasId}
    </select>

    <!-- add -->
    <insert id="add" parameterType="TokenModel" useGeneratedKeys="true" keyProperty="id">
        insert into `token` (userId, token, expires, domain, client, userAgent, createTime, paasId)
        values (#{userId}, #{token}, #{expires}, #{domain}, #{client}, #{userAgent}, #{createTime}, #{paasId})
    </insert>

    <!-- setActive -->
    <update id="setActive">
        update `token`
        set lastActiveTime = #{time}
        where token = #{token}
    </update>

    <!-- delete -->
    <delete id="delete" parameterType="TokenModel">
        delete from `token` where id = #{id}
    </delete>

    <!-- deleteByUserId -->
    <delete id="deleteByUserId">
        delete from `token` where userId = #{userId}
    </delete>

    <!-- deleteByToken -->
    <delete id="deleteByToken">
        delete from `token` where token = #{token}
    </delete>

    <!-- find -->
    <select id="find" parameterType="org.scy.common.ds.query.Selector" resultType="TokenModel">
        select * from `token` ${where} ${group} ${order} ${limit}
    </select>

    <!-- countFind -->
    <select id="countFind" parameterType="org.scy.common.ds.query.Selector" resultType="Integer">
        select count(id) as count from `token` ${where} ${group} ${order}
    </select>

</mapper>